@import "init_utu";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&display=swap);
@import url("font-text/medium-font.css");
@import url("font-text/medium-ori.css");
@import url("font-text/roboto-dr.css");


body{
    background: #f0edf0;

}









// button custom
.btn-bordered{
    border: 1px solid #c1c2c3;
    padding:5px 20px;
    border-radius: 4px;

}

.btn-fullwidth{
    padding:8px 20px;
    border-radius: 4px;
    min-width: 100%;
    margin-bottom: 10px;
    
}

// end button custom










