@import "init_utu";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&display=swap);
@import url("font-text/medium-font.css");
@import url("font-text/medium-ori.css");
@import url("font-text/roboto-dr.css");
// search nav cutom start
// navbar atas
.header-container{
  padding:0px 20px;
}
.search-nav {
  background: blue;
  color: #fff;
  padding: 3px;
  height: 60px;
  
}

// input search in
.search-in-area {
  position: absolute;
  border-radius: 4px;
  line-height: 35px;
  padding: 0px 10px 0px 28px;
  min-width:92%;
  margin-top: 6px;
}
.search-area {
  i {
    color: #000;
    position: absolute;
    margin: 17px 0px 0px 10px;
    opacity: 0.6;
  }
}

.search-right {
  margin: 15px;
  li {
    display: inline-block;
    margin: 0px 10px;
    max-width: 100%;
  }

  a {
    color: #fff !important;
    text-decoration: underline transparent;
    i {
      font-size: 20px;
    }

    :hover {
      color: #fff !important;
      opacity: 0.7;
    }
  }
}

@media (min-width: 900px) and (max-width: 4000px) {
  .u-lg-block {
    display: inline-block !important;
  }
}

@media (max-width: 900px) {
  .u-md-block {
    display: inline-block !important;
  }
}

// end searchin

// nav bawah
.nav-bawah-right{
height: 5px;

  li{
    display:inline-block;
   
    padding:0px 8px;

    i{
      
      font-size: 20px;
    }
    a:hover{
      color:#fff;
      opacity: 0.7;
    }
  }
}


.has_dropdown_side {
  position: relative;
  display: inline-block;
}

.dropdown_ct_side {
	display: none;
	position: absolute;
	background: #fff !important;
	width: 180px;
	z-index: 1;
	color: black;
	right: 0px;
	border-radius: 4px;
  box-shadow: $box-shadow-card;

}

.dropdown_ct_side a {

	color: rgba(0, 0, 0, 0.54) !important;
	fill: rgba(0, 0, 0, 0.54) !important;
	padding: 0px 10px;
	
	letter-spacing: 0.05em !important;
  line-height: 2.2;
font-size: 16px;
  margin-left: -40px;
  text-decoration: underline transparent;
}

.dropdown_ct_side li:hover {
	width: 100%;
	color: #000 !important;
  background-color: #f8f9fa !important;
  
}

.has_dropdown_side:hover .dropdown_ct_side {
	display: block;
}
// end nav bawah

// end  nav cutom


// product index
.prod-index{
  background:green;
  max-width:100%; 
  height: 350px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius:4px;
    box-shadow: $box-shadow-card;
}

.prod-img{
    background: red;
    max-width: 100%;
    height: 180px;
    margin-bottom: 10px;
    img{
        max-width: 100%;
    }
}

.prod-title{
    height: 60px;
    margin-bottom: 10px;
    background: blue;

}
.prod-price{
    height: 70px;  
    background:yellow;

}
// end product index

// breadcrumb-custom

.breadcrumbs {
  height: 50px;
  padding:15px 10px;
	background: #fafafa;
  box-shadow: $box-shadow-card;
  opacity: 0.7;
}
.breadcrumbs-container {
	padding: 0px 5px;

}
.breadcrumbs-title h1 {
	font-size: 2.2vw;
  line-height: 30px;

	margin-top: 2px !important;
	font-weight: 400;
}

.breadcrumbs-line {
	position: relative;
	color: #666666;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.5px;
	text-decoration: none;
}

.breadcrumbs-line ul li {
	display: inline-block;
}

.breadcrumbs-line ul li:after {
	font-family: "Material Icons";
	content: "\e409";
	// content: "/";
	top: 3px;
	position: relative;
	display: inline-block;
	color: #666666;
	line-height: 12px;
	font-size: 14px;
	font-weight: 800;
	-webkit-font-smoothing: antialiased;
}

.breadcrumbs-line ul li a {
	font-size: 14px;
  color: #666666;
  text-decoration: underline transparent;
  font-weight: 600;
}
.breadcrumbs-line ul li:last-child:after {
	display: none;
}

.breadcrumbs-line ul li.active a {
	color: #666666;
}
.breadcrumbs-line ul {
	width: 100%;
}
// end bredcrumb custom

// single prodct
.product-single{
  margin:10px 0px;

}
.product-single-container{
  padding:10px;
}

.single-img{
min-width: 100%;
padding:7px;
  img{
    max-width: 100%;
    height: 330px;
  }
  @media (min-width:300px) and (max-width:720px){
    img{
      max-width: 100%;
      height: auto;
    }
  }
}

.product-single-title{
border-bottom: 1px solid #c1c2c3;

  h1{
    font-size:26px!important;
    font-weight: 600;
  }

}
.product-single-price{
  margin-top:20px;
  
  h2{
    font-family: $robosans;
    font-weight: 600;
    font-size: 30px;
  }
  span{
    font-size:14px;
    opacity:0.7;
    font-weight: 600
  }
}

.single-seller{
  background: #d1d2d3;
  padding:5px 10px;
  margin-top:10px;
  border-radius: 2px;
  li{
    display: block;
    margin-left:-40px;

  }
}

.sticky-beli{
  padding:15px!important;
  box-shadow: 0 -2px 6px 0 rgba(49,53,59,.16);;
  height: auto;
  background: #fff;
  border-radius: 4px;
 
  width: 100%;
  // position: -webkit-sticky;
  position: fixed;
  bottom: -10px;
  z-index: 1051;

  @media (max-width:600px){
    padding:6px;
  }

}
.harga-sticky-beli{
  position: relative;
  top:10px;
  margin:0px 30px;
  p{
    line-height: 0;margin-bottom: 7px;color:#d1d2d3;font-weight: 700
  }
  span{
    font-weight: 600;
    font-family: $robosans;
  
  }

  @media (max-width:800px){
    margin-bottom:15px; 
    margin-left:5px;

    p{
      font-size: 12px;
    }
    span{
      font-size: 14px;
    }
  
  }
}

.nav-tab-custom{
  margin-top:10px;
  font-size:18px;
  font-weight: 600;
  box-shadow: $box-shadow;

  a{
    color: #000;
    opacity: 0.5;
    
  }
  :hover{
    color:#00695C;
    opacity: 1;
  }
}
.tab-custom{
  color:#000!important;
  letter-spacing: 1;
  line-height: 1.5;
  padding:10px;

}

// product-suggest
.product-suggest{
  margin-top:40px;
}
.product-s-title{
  padding:10px;
 
  margin-bottom: 10px;
  box-shadow: $box-shadow-card;

  h1{
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
  }
}
.product-suggest-form{
  max-width:100%;
  height:320px;
  background:blue;
  border-radius: 4px;
  box-shadow: $box-shadow-card;
  margin-bottom: 15px;
}
.product-suggest-img{
  max-width: 100%;
  height:180px;
  background:red;
  border-radius: 4px;
  img{
    max-width: 100%;
  }
}

.product-suggest-title{
  margin:10px;
  background: green;
  max-width: 100%;
  height: 50px;
}
.product-suggest-sell{
  margin:10px;
  background: yellow;
  max-width: 100%;
  height: 60px;
}
// end product -suggest
// end single product


// product-gird
.product-gird{
  margin-top:30px;

}
    // sidebar form-product-gird
.product-sidebar-form{
  box-shadow: $box-shadow-card;
  margin-bottom: 20px;
  max-width: 100%;
  background: #fff;
  border-radius:4px;
}
.product-sf-title{
  border-bottom: 1px solid #c1c2c3; 
  padding:10px;

    h2{
      font-size: 20px!important;
      font-weight: 600;

    }
}

.product-sf-body{
  padding:10px;
  margin-top:5px;
}
    // end product sidebar form 

    // product main gird
  .product-main-gird{
    box-shadow: $box-shadow-card;
    max-width: 100%;
    height: 250px;
    background: red;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  .product-mg-img{
    background:blue;
    max-width: 100%;
    height: 120px;
    border-radius: 4px;
    img{
      max-width: 100%;
    }
  }

  .product-mg-title{
    background: yellow;
    margin:5px;
    height: 50px;

  }
  .product-mg-sell{
    background: green;
    margin:5px;
    height: 60px;
  }

  .pagination-mg{
    margin-left:-50px!important;
    li{
      display: inline-block;
    }

    .mg-item{
      width: 25px;
      padding:3px 6px;
    }

    a{
      text-decoration: underline transparent;
      font-size: 16px!important;
      font-family: $robosans;
      font-weight: 600;
    }
    
  }
    // end product main  gird

// end product-gird


// checkout product
.checkout-product{
  margin-top:50px;
  a{
    text-decoration: underline transparent;
  }
}

.ket-checkout-product{
  padding:5px 10px;
  line-height: 30px;
  box-shadow: $box-shadow-card;
  height: 40px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
}
.check-main-product{

  background:#fff;
  max-width: 100%;
  height: 160px;
  box-shadow: $box-shadow-card;
  border-radius:3px;
  margin-bottom: 20px;

}
.title-checkout-product{
  height: 40px;
  border:1px solid #c1c2c3;
  border-radius: 2px;
  padding:6px 10px;
font-size:16px;
font-weight: 500;
 
}
.checkout-img{
  min-width: 100%;
  height:100px;
 
  border: 4px;
  margin:10px;

  img{
  border: 4px;
  box-shadow: $box-shadow;
   max-width: 100%;
   height: 100px; 
    @media (min-width:300px) and (max-width:520px){
      height:100px;
  
    }
  }
 
}

.tp-checkout{
margin-top: 8px;
font-family: $robosans;
font-size: 14px;

  @media (max-width:520px){
  font-size: 12px;

  }
}

  // seperator checkout
  .seperator{

    @media (min-width:991px){
   
      position: relative;
      top:30px;
    
    }
  }

  // end sperator
// sticky chectout
.sticky-checkout{
  padding:13px;
  box-shadow: $box-shadow-card;
  height: auto;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1px;

  span{
    font-family: $robosans;
    font-weight: 500;
    margin-right:10px;
  }
  
}

// custom input spinner
.input-group{

  @media(max-width:520px){
    max-width: 60%;

  }

}


.input-group-prepend{
  height:30px;
  margin-right:1px!important;
background:#9da09a;


  
  strong{
    position: relative;
    top:-7px;
  }
}


.input-group-append{
  height:30px;
  margin-right:5px!important;
  margin-left:1px!important;
    
  background: #5A6268;
  color: #fff!important;
  strong{
    position: relative;
    top:-7px;
  }
}
.btn-outline-secondary{
  border:2px solid!important; 
  border-radius:2px!important;
color: #fff!important;
  
}

.input-spinner{
  height:30px;
  border:1px #c1c2c3 solid!important; 

  }



// end custom input spinner
  // end sticky check-out
// end checkout product



// chat session
.chat-sess{
	position: fixed;
	bottom:40px;
	width: 60px;
	height: 60px;
	box-shadow: $box-shadow-card;
	border-radius: 50%;
	padding: 15px;
	background: #fff;
	right: 10px;
	z-index: 1020;
	cursor: pointer;
	transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
	i{
		position: relative;
		
	}

}
// end chat