$success-co: #4caf50;
$primary-co: #1976d2;
$danger-co: #e53935;
$warning-co: #ff9800;
$default-co: #424242;

$robosans: "Open Sans", sans-serif;
$notosans: 'Noto Serif', serif;
$robodraft: "Roboto,RobotoDraft,Helvetica,Arial,sans-serif";
$medium-font: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
	Times, serif;
$medium-h: medium-content-sans-serif-font, "Lucida Grande",
	"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

$bg_shadow: rgba(0, 0, 0, 0.4);
$box-shadow: 0 22px 24px rgba(108, 111, 115, 0.1);
$box-shadow-card: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);